<title>Study Tracker</title>
<h1>Study Tracker</h1>
Tervetuloa Study Tracker -sovellukseen!
<p>
Study Tracker on opintojen suunnittelua ja seuraamista helpottava sovellus.<br>

Sovelluksessa opiskelija voi lisätä ja seurata eri kursseihin käytettyä aikaa. Lisäksi opiskelija voi asettaa tavoitteita ja seurata tavoitteissa pysymistä. Opiskelija voi myös nähdä kurssin suoritettuaan saamansa arvosanan kurssista.<br>

Sovelluksessa voi tarkastella kaikkia kursseja ja nähdä kaikkien opiskelijoiden kurssin opiskeluun käytetyn ajan keskiarvon.<br>

Sovellukseen voi kirjautua myös opettajana ja lisätä opiskelijoilleen arvosanat. Lisäksi opettaja näkee omista opetetuista kursseistaan käytetyn ajan ja arvosanojen keskiarvon.
<p>
Sovelluksessa on käyttäjiä: {{ count }}
<p>
Oletko oppilas? Rekisteröidy <a href="http://127.0.0.1:5000/stureg">täällä</a>
<p>
Oletko opettaja? Rekisteröidy <a href="http://127.0.0.1:5000/teachreg">täällä</a>
<p>
Oleko jo käyttäjä? Kirjaudu sisään <a href="http://127.0.0.1:5000/login">tästä</a>
<p>
