<title>Kurssit</title>
<h1>Kurssit</h1>
<p>
<hr>
{% for course in courses %}
{{ course[0] }}
<hr>
{% endfor %}
<p>
<form action="/courseadded" method="POST">
<title>Kurssin lisäys</title>
[% if role == "student" %}
<h1>Lisää kurssi</h1>
<p>
Kurssin nimi: <input type=text name="course" size="30" required> 
<p>
<input type="submit" value="Lisää">
</form>
<p>
<a href="/student">Oma sivu</a>
{% else %}
<h1>Lisää kurssi</h1>
<p>
Kurssin nimi: <input type=text name="course" size="30" required> 
<p>
<input type="submit" value="Lisää">
</form>
<p>
<a href="/teacher">Oma sivu</a>
{% endif %}
