<title>Arvostele kurssi</title>
<h1>Arvostele kurssi {{ session.course }}</h1>
<p>
<form action="/addgrade" method="POST">
Opiskelija: 
<select name="student" method="GET" action="/">
    {% for student in students %}
    <option value= "{{ student[0] }}" SELECTED> {{ student[0] }}
    {% endfor %}
</select> 
Arvosana: 
<input type="number" name="studied" size="3">
<p>
<input type="submit" value="Lisää arvosana">
<form>
<p>
<form action="/graded" method="POST">
<input type="submit" value="Lopeta kurssin arvostelu">
<form>
<p>
<a href="/teacher">Oma sivu</a>
<p>

