<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<p>
<p>
<p>
<title>Arvostele</title>
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/teacher">Oma sivu</a>
   	  <ul class="navbar-nav">
            <li class="nav-item">
        <a class="nav-link" href="/grade">Arvioi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teacherstats">Tilastot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/courses">Kurssit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Kirjaudu ulos</a>
      </li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-12">
	<h1>Arvostele</h1>
	<p>
	<form action="/selectcourse" method="POST">
	Arvosteltava kurssi:
	<p>
	<p>
	<p>
	<select name="course" method="GET" action="/" required>
	    {% for i in range(courses|length) %}
	    <option value= "{{ course_ids[i] }}" SELECTED> {{ courses[i] }}
	    {% endfor %}
	</select> 
	<p>
	<input type="submit" value="Aloita arvostelu">
	</form>
    </div>
  </div>
</div>

