<title>Study Tracker</title>
<h1>Study Tracker</h1>
<h2>Tervetuloa Study Tracker -sovellukseen!</h2>
<p>
Study Tracker on opintojen suunnittelua ja seuraamista helpottava sovellus.<p>

Sovelluksessa opiskelija voi lisätä ja seurata eri kursseihin käytettyä aikaa. Lisäksi opiskelija voi asettaa tavoitteita kursseille ja seurata tavoitteissa pysymistä.<p>

Sovellukseen voi tulevaisuudessa kirjautua myös opettajana.
<p>
Sovelluksessa on tällä hetkellä {{ count }} käyttäjää.
<p>

{% if session.username %}
Olet kirjautunut käyttäjänä {{ session.username }} 
<p>
<a href="/student">Oma sivu</a>
<p>
<a href="/logout">Kirjaudu ulos</a>
<p>
{% else %}
<form action="/loggedin" method="POST">
<title>Login</title>
<h1>Kirjaudu sisään</h1>
<p>
Käyttäjätunnus: <input type=text name="username" size="30"> 
<p>
Salasana: <input type="password" name="password" size=30>
<p>
<input type="submit" value="Kirjaudu">
</form>
{% endif %}
<p>
<h3>Eikö sinulla ole veilä tunnusta?</h3>
Oletko oppilas? Rekisteröidy <a href="/stureg">täällä</a>!
<p>
Oletko opettaja? Rekisteröidy <a href="/teachreg">täällä</a>!
<p>
Oleko jo käyttäjä? Kirjaudu sisään <a href="/login">tästä</a>!
<p>

