<title>Study Tracker</title>
<h1>Study Tracker</h1>
<h2>Tervetuloa Study Tracker -sovellukseen!</h2>
<p>
Study Tracker on opintojen suunnittelua ja seuraamista helpottava sovellus.<p>

Sovelluksessa opiskelija voi lisätä ja seurata eri kursseihin käytettyä aikaa. Lisäksi opiskelija voi asettaa tavoitteita kursseille ja seurata tavoitteissa pysymistä.<p>

Sovellukseen voi tulevaisuudessa kirjautua myös opettajana.

<p>

{% if session.username %}
<b>Olet kirjautunut käyttäjänä {{ session.username }} </b>
<p>
<a href="/student">Oma sivu</a>
<p>
<a href="/logout">Kirjaudu ulos</a>
<p>
{% else %}
<form action="/login" method="POST">
<title>Login</title>
<h1>Kirjaudu sisään</h1>
<p>
Käyttäjätunnus: <input type=text name="username" size="30" required> 
<p>
Salasana: <input type="password" name="password" size=30 required>
<p>
<input type="submit" value="Kirjaudu">
</form>
<p>
<h3>Eikö vielä tunnusta?</h3>
Oletko oppilas? Rekisteröidy <a href="/stureg">täällä</a>!
<p>
Oletko opettaja? Rekisteröidy <a href="/teachreg">täällä</a>!
<p>
{% endif %}

