<title>Sunnitelma</title>
<h1>Suunnitelma</h1>
<p>
<table>
<tr>
  <th>Omat kurssit</th>
  <th>Tavoite</th>
  <th>Opiskeltu</th>
  <th>Tehtynä</th>
<tr>
{% for i in range(studentcourses|length) %}
<tr>
  <td>{{ studentcourses[i][0] }}</td>
  <td>{{ goals[i][0] }} </td>
  <td>{{ studied[i][0] }}</td>
  <td>{{ done[i] }} %</td>
<tr>
{% endfor %}
</table>
<p>
<form action="/startcourse" method="POST">
<h3>Aloita uusi kurssi</h3>
Valitse kurssi: 
<select name="course" method="GET" action="/">
    {% for course in courses %}
    <option value= "{{ course[0] }}" SELECTED> {{ course[0] }}
    {% endfor %}
</select>
<p>
Suunniteltu kurssin opiskeluun käytettävä tuntimäärä:
<input type="number" name="goal" size="3" required>
<p>
<input type="submit" value="Aloita kurssi">
</form>
<p>
{% if len(studentcourses) > 0 %}
<form action="/coursedone" method="POST">
<h3>Merkitse kurssi suoritetuksi</h3>
Suoritettu kurssi: 
<select name="course" method="GET" action="/" required>
    {% for course in courses %}
    <option value= "{{ course[0] }}" SELECTED> {{ course[0] }}
    {% endfor %}
</select> 
</form>
<p>
{% endif %}
<a href="/student">Oma sivu</a>
