<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<p>
<p>
<p>
<title>Opiskelijan sivu</title>
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="#">Oma sivu</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/study">Opiskele</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/plan">Suunnittele</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stats">Tilastot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/courses">Kurssit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Kirjaudu ulos</a>
      </li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-12">
	<h1>Oma sivu</h1>
	<p>
	<p>
	<table>
	<tr>
	  <th>Omat kurssit</th>
	  <th>Tavoite</th>
	  <th>Opiskeltu</th>
	  <th>Tehtynä</th>
	<tr>
	{% for i in range(studentcourses|length) %}
	<tr>
	  <td>{{ studentcourses[i] }}</td>
	  <td>{{ goals[i] }} </td>
	  <td>{{ studied[i] }}</td>
	  <td>{{ done[i] }} %</td>
	<tr>
	{% endfor %}
	</table>
	<p>
    </div>
  </div>
</div>

<style>
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
</style>
