<form action="/welcometeacher" method="POST">
<title>Opettajan kirjautuminen</title>
<h1>Opettajan kirjautuminen</h1>
<p>
<p>
Anna käyttäjätunnus: <input type="text" name="username" required>
<p>
Anna nimesi: <input type="text" name="name" required>
<p>
Anna salasana: <input type="password" name="password" required>
<p>
Salasana uudelleen: <input type="password" name="verification" required>
<p>
Anna tunnistautumiskoodi: <input type="password" name="code" required>
<p>
<input type="submit" name="Rekisteröidy">
</form>

<script>
function check(form) {
    if (form.username.value.length < 5) {
        alert("Käyttäjätunnus on liian lyhyt");
        return false;
    }
    if (form.password.value.length < 8) {
        alert("Salasana on liian lyhyt");
        return false;
    }
    return true;
}
</script>

<p>
<a href="/">Etusivu</a>
