<form action="/welcometeacher" method="POST">
<title>Opettajan kirjautuminen</title>
<h1>Opettajan kirjautuminen</h1>
<p>
<p>
Anna käyttäjätunnus: <input type="text" name="username" required>
<p>
Anna nimesi: <input type="text" name="name" required>
<p>
Anna salasana: <input type="password" name="password" required>
<p>
Salasana uudelleen: <input type="password" name="verification" required>
<p>
Anna tunnistautumiskoodi: <input type="password" name="code" required>
<p>
<input type="submit" name="Rekisteröidy">
</form>
<p>
<a href="/">Etusivu</a>
